.button-layout {
  display: block;
  height: 3rem;
  width: 11rem;
  font-size: 1.1rem;
  background-color: #bf4aa8;
  color: white;
  border: none;
  border-radius: 1rem;
}
.button-layout-hover {
  background-color: white;
  color: #bf4aa8;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.8rem;
  margin: 2rem 0 2rem 0;
  color: #bf4aa8;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid lightgray;
  background-color: #51d0de;
}
header nav a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid white;
  font-size: 1rem;
}
header nav h2 {
  font-family: 'Dancing Script', cursive;
  color: white;
  margin: none;
}
header nav a:hover {
  color: #bf4aa8;
  border: 1px solid #bf4aa8;
}
.main-image {
  display: none;
  justify-content: center;
  border: 1px solid red;
}
.main-image .notebook-image {
  width: 100%;
}
.cta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cta .title-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #51d0de;
  color: #bf4aa8;
}
.cta .title-button button {
  display: block;
  height: 3rem;
  width: 11rem;
  font-size: 1.1rem;
  background-color: #bf4aa8;
  color: white;
  border: none;
  border-radius: 1rem;
}
.cta .title-button button:hover {
  background-color: white;
  color: #bf4aa8;
}
.container .main-content {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
}
.container .main-content p {
  padding: 0 1rem 0 1rem;
  margin: 1rem 0 15rem 0;
}
.container .main-content .conjugator {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-basis: 33%;
}
.container .main-content .conjugator .conjugator-image {
  width: 100%;
  border: 1px solid lightgray;
  border-right: none;
}
.container .main-content .settings {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-basis: 33%;
}
.container .main-content .settings .settings-image {
  width: 100%;
  height: 27%;
  border: 1px solid lightgray;
  border-bottom: none;
}
.container .main-content .dashboard {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-basis: 33%;
}
.container .main-content .dashboard .data-image {
  width: 100%;
  height: 27%;
  border: 1px solid lightgray;
  border-right: none;
}
.copyright {
  width: 100%;
  padding: 1rem;
  border: 1px solid lightgray;
  background-color: #51d0de;
  text-align: center;
}
.about-team {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  height: 100vh;
}
.about-team .box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}
.about-team .box img {
  width: 100%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: 0.5s;
  opacity: 0.8;
}
.about-team .box span {
  font-size: 4vh;
  color: #51d0de;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}
.about-team .box:hover {
  flex: 1 1 50%;
}
.about-team img:hover {
  width: 100%;
  height: 100%;
  opacity: 1;
}
