.flex-layout(@flex, @justify, @align){
    display: flex;
    flex-direction: @flex;
	justify-content: @justify;
    align-items: @align;
}

.button-layout {
    font-size: 2.5rem;
    position: relative;
    color: @lightningblue;
    width: 20rem;
    height: 5.5rem;
    line-height: 5.5rem;
    transition: all 0.1s;
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    
    @media @phone {
        width: 24.7vw;
        height: 3.7vh;
        font-size: 4vw;
        margin: 0 auto;
        border: 1px dashed lightgrey;
         line-height: 3.2rem;
    }
}




