.flex-layout(@flex, @justify, @align){
    display: flex;
    flex-direction: @flex;
	justify-content: @justify;
    align-items: @align;
}

.button-layout {
    display: block;
		height: 3rem;
		width: 11rem;
		font-size: 1.1rem;
		background-color: @lightningpurple;
        color: white;
        border: none;
        border-radius: 1rem;
        
        
}

.button-layout-hover {
    background-color: white;
    color: @lightningpurple;
}