
// color vars

@lightningblue: #51d0de;
@lightningpurple: #bf4aa8;
@brainwrinklewhite: #d9d9d9;
@bxs: 0 20px 30px rgba(0,0,0,.3);

// media breakpont vars

@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';
